@using Umbraco.Cms.Web.Common.PublishedModels;
@using Portfolio.Core.Models.Umbraco
@model Portfolio.Core.Models.ViewModels.BlogOverviewViewModel
@{
	Layout = "Main.cshtml";
	
	Model.PageTitle = "Blog";
}

@Model.BodyText

<div class="card-deck">
	@foreach (var article in Model.Content.Children<BlogArticle>())
	{
	<div class="card">
			<img class="card-img-top" src="@article.Thumbnail" style="width:200px" alt="@article.Thumbnail">
			<div class="card-body">
				<h5 class="card-title">@article.Name</h5>
				<a href="@article.Url()" class="btn btn-primary stretched-link">Go to Article</a>
			</div>
		</div>
	}
</div>
