@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Routing
@model Portfolio.Core.Models.ViewModels.BlogArticleViewModel

@inject IPublishedUrlProvider PublishedUrlProvider
@{
    Layout = "Main.cshtml";

    Model.PageTitle = "Article";
}

<head>
    <title>@Model.PageTitle</title>
    <link rel="stylesheet" href="/css/BlogArticle.css"/>
</head>
<body>
<h1>@Model.Title</h1>

<h6>@Model.PublishDate</h6>

<h3>@Model.Author</h3>

<img class="author-picture" src="@Model.AuthorPicture" alt="@Model.AuthorPicture"/>

@Model.BodyText

@{
    var typedMultiNodeTreePicker = Model.MultiNode;
    foreach (var item in typedMultiNodeTreePicker)
    {
        <a class='nav-link' href="@item.Url(PublishedUrlProvider)">@item.Name</a>
    }
}

</body>