@using Umbraco.Cms.Web.Common.PublishedModels;
@using Portfolio.Core.Models.Umbraco
@model Portfolio.Core.Models.ViewModels.BlogOverviewViewModel
@{
    Layout = "Main.cshtml";
}

@section meta
{
    <meta name="description" content="@Model.MetaDescription">
    @{ var root = Model?.Content.Root<Home>(); }
    <meta property="og:image" content="@root?.MetaImage.Url()">
    <meta property="og:description" content="@Model?.MetaDescription">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="/css/BlogOverview.css"/>
}


@Model.BodyText

<div class="card-deck">
    @foreach (var article in Model.Children.Cast<BlogArticle>())
    {
        <div class="card">
            <img class="card-img-top" src="@article.Thumbnail.Url()" style="width:200px" alt="@article.Thumbnail?.Name">
            <div class="card-body">
                <h5 class="card-title">@article.Name</h5>
                <a href="@article.Url()" class="btn btn-primary stretched-link">Go to Article</a>
            </div>
        </div>
    }
</div>