@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Routing
@model Portfolio.Core.Models.ViewModels.BlogArticleViewModel

@inject IPublishedUrlProvider PublishedUrlProvider
@{
    Layout = "Main.cshtml";
}

@section meta
{
    <meta name="description" content="@Model.MetaDescription">
    <meta name="author" content="@Model.Author.Value?.Remove(0, 3).Remove(@Model.Author.Value.Length - 7)">
    <meta property="og:image" content="@Model.Thumbnail">
    <meta property="og:description" content="@Model.MetaDescription">
    <meta property="og:type" content="article">
    <meta property="article:author" content="@Model.Author">
    <meta property="article:published_time" content="@Model.Content.CreateDate">
    <meta property="article:modified_time" content="@Model.Content.UpdateDate">
    <link rel="stylesheet" href="/css/BlogArticle.css"/>
}


<h1>@Model.Title</h1>

<h6>Published at: @Model.PublishDate, last edited at: @Model.Content.UpdateDate.</h6>

<h3>@Model.Author</h3>

<img class="author-picture" src="@Model.AuthorPicture" alt="@Model.AuthorPicture"/>

@Model.BodyText

@{ var typedMultiNodeTreePicker = Model?.MultiNode; }

@if (typedMultiNodeTreePicker?.Count > 0)
{
    foreach (var item in typedMultiNodeTreePicker)
    {
        <a class='nav-link' href="@item.Url(PublishedUrlProvider)">@item.Name</a>
    }
}