@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Routing
@using Portfolio.Core.Models.Umbraco
@model Portfolio.Core.Models.ViewModels.SearchViewModel
@inject IPublishedUrlProvider PublishedUrlProvider
@{
    Layout = "Main.cshtml";
}

@section meta
{
    <meta name="description" content="@Model.MetaDescription">
    @{ var root = Model?.Content.Root<Home>(); }
    <meta property="og:image" content="@root.MetaImage.Url()">
    <meta property="og:description" content="@Model.MetaDescription">
    <link rel="stylesheet" href="/css/Search.css"/>
}


<div class="container py-4">
    <form action="/search/" method="GET">
        <div class="mb-3">
            <label for="query" class="form-label">Search input</label>
            <input type="text" class="form-control" id="query" name="query" placeholder="Search...">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    @if (Model.Search.ToString().Length > 0)
    {
        <label>Showing results for "@Model.Search":</label>
        <ul>
            @foreach (var item in Model.Results)
            {
                <li>
                    <a class='nav-link' href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                </li>
            }
        </ul>
    }

</div>